:root{
    --font: 'Work Sans', 'Open Sans', 'Roboto', 'Roboto Mono', 'Reddit Sans Condensed', 
    'Poppins';
}

html, body {
    overflow-x: hidden; 
    height: 100%; 
}

.btn-secondary{
    font-family: 'Work Sans', var(--font);
}

.myLibrary{
    font-family: 'Kanit', var(--font);
}

.first-area{
    position: relative;
    top: 1em;
    left: 0.9em;
}

.toRead{
    border: 2px solid black;
    height: 50vh;
    width: 80vw;
    border-radius: 10px;
    font-family: 'Oswald', var(--font);
}

.toRead-text{
    font-family: 'Oswald', var(--font);
}

.second-area{
    position: relative;
    top: 5em;
    left: 0.9em;
}

.finishedRead{
    border: 2px solid black;
    height: 50vh;
    width: 80vw;
    border-radius: 10px;
    
}

.finishedRead-text{
    font-family: 'Oswald', var(--font);
}

.card-columns {
    column-count: 2; /* Adjust the number of columns */
}
